

/* Buttons */
.btn {
    font-weight: 500;
    padding: 0.5rem 1.25rem;
    border-radius: 0.375rem;
    box-shadow: 2px 2px 8px rgba(71, 71, 71, 0.3);
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary-dark) !important;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: var(--primary-dark) !important;
    border-color: var(--primary-dark) !important;
    box-shadow: 0 0 15px rgba(79, 70, 229, 0.5);
}

.btn-outline-primary {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
    color: var(--text-light) !important;
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    box-shadow: 0 0 15px rgba(79, 70, 229, 0.3);
}


.btn-secondary{
    background-color: var(--secondary) !important;
    border-color: var(--secondary-dark) !important;
    color: var(--text-light) !important;
}
.btn-secondary:hover, .btn-secondary:focus {
    background-color: var(--secondary-dark) !important;
    border-color: var(--secondary-dark) !important;
    box-shadow: 0 0 15px rgba(79, 70, 229, 0.5);
}
.btn-outline-secondary{
    color: var(--text-light) !important;
    border-color: var(--border-color) !important;
}
.btn-outline-secondary:hover, .btn-outline-secondary:focus {
    color: var(--text-light) !important;
    background-color: var(--secondary-dark) !important;
    border-color: var(--border-color) !important;
    box-shadow: 0 0 15px rgba(79, 70, 229, 0.3);
}


/* BTN DANGER */
.btn-danger{
    background-color: var(--error) !important;
    border-color: var(--error-dark) !important;
}
.btn-danger:hover, .btn-danger:focus {
    background-color: var(--error-dark) !important;
    border-color: var(--error-dark) !important;
    box-shadow: 0 0 15px rgba(239, 68, 68, 0.5);
}
.btn-outline-danger{
    color: var(--error) !important;
    border-color: var(--error) !important;
}
.btn-outline-danger:hover, .btn-outline-danger:focus {
    color: var(--text-light) !important;
    background-color: var(--error) !important;
    border-color: var(--error) !important;
    box-shadow: 0 0 15px rgba(239, 68, 68, 0.3);
}


/* BTN SUCESS */
.btn-success{
    background-color: var(--success) !important;
    border-color: var(--success-dark) !important;
}
.btn-success:hover, .btn-success:focus {
    background-color: var(--success-dark) !important;
    border-color: var(--success-dark) !important;
    box-shadow: 0 0 15px rgba(16, 185, 129, 0.5);
}
.btn-outline-success{
    color: var(--success) !important;
    border-color: var(--success) !important;
}
.btn-outline-success:hover, .btn-outline-success:focus {
    color: var(--text-light) !important;
    background-color: var(--success) !important;
    border-color: var(--success) !important;
    box-shadow: 0 0 15px rgba(16, 185, 129, 0.3);
}
