
/* Cards */
.card {
    background-color: var(--bg-card);
    border-radius: 0.8rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid var(--border-color) !important;
    box-shadow: 2px 2px 8px rgba(71, 71, 71, 0.3) !important;
    z-index: 1 !important;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}



