
.dropdown{
    z-index: 9999 !important;
}
.dropdown .dropdown-menu{
    z-index: 9999 !important;
    background-color: var(--secondary-dark)!important;
    
}


.form-control{
    border: 1px solid var(--border-color) !important;
    background: transparent !important;
    color: var(--text-light);
    padding: 10px !important;
}

.form-select{
    border: 1px solid var(--border-color) !important;
    background: transparent !important;
    color: var(--text-light);
    padding: 10px !important;
}

select option{
    background-color: var(--secondary-dark) !important;
    padding: 10px !important;
    border: 1px solid var(--secondary-dark) !important;
}




/* MODALS */
.modal{
    backdrop-filter: blur(8px);
}


/* Modal styles */
.modal-content {
    background-color: var(--secondary); /* Dark modal background */
    border-color: var(--border-color); /* Darker border */
}

.modal-header {
    background-color: var(--secondary); /* Darker header background */
    border-bottom: 1px solid #475569; /* Darker border */
    color: #E2E8F0; /* Light text */
}

.modal-footer {
    border-top: 1px solid #475569; /* Darker border */
}
