table td, table tr{
    background-color: transparent !important;
}

/* Custom Table Background - Modern alternative to default Bootstrap table styling */
.custom-table-bg thead tr th {
    background-color: transparent !important;
    font-weight: 800;
    font-size: 0.9rem;
    color: white;
    padding: 20px;
}

thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
  }
  thead tr:first-child th:last-child {
    border-top-right-radius: 10px;
  }


.custom-table-bg tbody tr {
    background-color: transparent;
    transition: background-color 0.2s ease;
}

.custom-table-bg tbody tr:hover {
    background-color: var(--primary-indigo-medium-dark);
}
